/******************************
variables
******************************/
$navPlava: #09192c;
$tamnoPlava: #0b193c;
$pink: #f91257;
$bela: white;
$svetloSiva: #f8f8f8;
$fontColor: #0b193c;
$violet: #383c6e;
$font: 16px;
$padding: 80px 0;
$fontFamily: 'Montserrat',
sans-serif;
$transition: .3s ease;

/***mixins***/
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin btn {
    padding: 20px 40px;
    margin-top: 50px;
    font-size: 1rem;
    background: $pink;
    color: $bela;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 40px;
    letter-spacing: 2px;

    &:hover {
        background: $violet;
        transition: $transition;
    }

}

/******************************
basic styles
******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font;
    color: $fontColor;
    font-family: $fontFamily;
    line-height: 1.5;
}

.container {
    width: 80%;
    margin: auto;
}

h2 {
    font-size: 3rem;
    line-height: 1.1;
}

h3 {

    margin: 20px 0;
}

p {
    width: 300;
    font-size: .8rem;
}

ul {
    list-style: none;
}

.logo {
    font-size: 1.7rem;
    font-weight: 600;

    span {
        color: $pink;
    }
}

a {
    text-decoration: none;
    color: $bela;

    &:hover {
        color: $pink;
        transition: $transition;
    }
}

/***nav***/
nav {
    background: $navPlava;
    @include flex(space-between, center, row);
    padding: 30px 60px;

    &>a {
        @extend .logo;
    }

    ul {
        @include flex(space-between, center, row);

        li {
            margin-left: 50px;
        }
    }
}

/***footer***/
footer {
    background: $navPlava;
    text-align: center;
    padding: $padding;

    p {
        color: $bela;
        padding: 15px 0;
    }

    a {
        margin: 0 20px;
        font-size: 1.2rem;
    }
}

/***mainheader***/
.mainHeader {
    background: $tamnoPlava;
    color: $bela;
    padding: 0 60px;
    @include flex(space-between, center, row);

    div {
        flex: 0 0 45%;

        img {
            width: 100%;
            padding: 40px 0;
        }

        h1 {
            font-size: 4rem;

            span {
                color: $pink;
            }
        }

        button {
            @include btn;
        }
    }
}

/***unlimited***/
.unlimited {
    padding: $padding;
    @include flex(space-between, center, row);

    article {
        flex: 0 0 48%;

        button {
            @include btn;
        }
    }

}

/***hivHeader***/
.hivHeader {
    padding: $padding;
    background: $tamnoPlava;
    color: $bela;

    .container {
        @include flex(space-between, center, row);

        div {
            flex: 0 0 30%;

            i {
                color: $pink;
                font-size: 4rem;
                margin: 30px 0;
            }

            p {
                margin: 0 0 50px 0;
            }
        }
    }

}

/***artists***/

.artists {

    background: $bela;
    color: $navPlava;

    article:first-child {
        @include flex(space-between, flex-start, row);

        h2 {
            flex: 0 0 48%;
        }

        p {
            flex: 0 0 48%;

        }

    }

    article:last-child {
        @include flex(space-between, center, row);
        margin-top: 50px;

        div {
            flex: 0 0 22%;
            text-align: center;

            img {
                width: 100%;
                border-radius: 40px;
            }

        }
    }
}

/***concert***/
.concert {
    @extend .artists;
    padding: $padding;

    article:last-child {
        @include flex(space-between, center, row);

        div {
            flex: 0 0 15%;

            img {
                border-radius: 50%;
            }

        }
    }

}

.subscription {
    @extend .mainHeader;
    padding: $padding;

    .container {
        @include flex(space-between, center, row);


        div:first-child {
            flex: 0 0 45%;

            img {
                width: 100%;
                padding: 40px 0;
            }

            h3 {
                font-size: 2rem;
                color: $pink;
            }

            button {
                @include btn;
            }
        }


        div:last-child {
            background: rgba($bela, .1);
            flex: 0 0 45%;
            border-radius: 30px;
            @include flex(center, center, row);
            padding: 30px;

            ul {
                line-height: 3;

                li::before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f058";
                    color: $pink;
                    margin-right: 10px;
                }
            }



        }
    }
}